* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow: hidden;
}
header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.header-title{
  width: 200px;
  margin-top: 10px;
}
.header-title h1{
  color: #41b732;
  text-align: center;
  line-height: 1.2;
}
.main-visual{
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
}

.leaf{
  position: absolute;
  left: -15%;
  background-repeat: no-repeat;
}
/* デスクトップ向け */
@media screen and (min-width: 768px){
  .main-visual{
    top: 70%;
  }
  .leaf{
    animation: pcAnimation 15s linear infinite;
  }
  .leaf:nth-child(even){
    width: 132px;
    height: 132px;
  }
  .leaf:nth-child(odd){
    width: 80px;
    height: 80px;
  }
}
/* スマートフォン向け */
@media screen and (max-width: 768px){
  .main-visual{
    top: 40%;
  }
  .leaf{
    animation: spAnimation 10s linear infinite;
  }
  .leaf:nth-child(even){
    width: 72px;
    height: 72px;
  }
  .leaf:nth-child(odd){
    width: 56px;
    height: 56px;
  }
}

@keyframes pcAnimation {
  0% {
    offset-distance: 100%;
  }
  30%{
    transform: rotate(30deg);
  }
  50%{
    transform: rotate(-60deg);
  }
  80%{
    transform: rotate(50deg);
  }
  100% {
    offset-distance: 0%;
    transform: rotate(-30deg);
  }
}

@keyframes spAnimation {
  0% {
    offset-distance: 100%;
  }
  30%{
    transform: rotate(-30deg);
  }
  100% {
    offset-distance: 0%;
  }
}